<div class="card">
  <div class="card-header">
    <p class="title">Edit ticket</p>
  </div>
  <div class="card-body">
    <form [formGroup]="editTicketFormGroup">
      <div class="form-group">
        <input
          id="label"
          name="label"
          type="text"
          placeholder="Label"
          formControlName="label"
        >
        <ng-container *ngIf="editTicketFormGroup.get('label').touched">
          <p
            class="error-message"
            *ngIf="editTicketFormGroup.get('label').hasError('required')"
          >
            This field is required
          </p>
          <p
            class="error-message"
            *ngIf="editTicketFormGroup.get('label').hasError('blank')"
          >
            Label cannot be blank
          </p>
        </ng-container>
      </div>
      <div class="form-group">
        <textarea
          id="description"
          name="description"
          rows="10"
          placeholder="Describe precisely your problem"
          formControlName="description"
        ></textarea>
        <p
          class="error-message"
          *ngIf="editTicketFormGroup.get('description').touched && editTicketFormGroup.get('description').hasError('maxlength')"
        >
          Description cannot exceed 200 characters in length
        </p>
      </div>
    </form>
  </div>
  <div class="card-footer">
    <div class="spacer"></div>
    <button
      class="btn-secondary"
      (click)="onCancel()"
    >Cancel</button>
    <button
      class="btn-primary"
      (click)="onSubmit()"
      [disabled]="editTicketFormGroup.invalid"
    >Submit</button>
  </div>
</div>
